
*{

margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html{
    height: 100%;
}


nav{

display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: black; 
font-family: 'Poppins', sans-serif;
}

.myname{
    
    color:rgb(155, 155, 155);
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 2px;
    word-spacing: 6px;
    font-family:'Poppins', sans-serif;
}

.the-links{

display: flex;
justify-content: space-around;
width: 30%;
}

.the-links a{

    color:rgb(155, 155, 155);
    opacity: 0.6;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.the-links li{

list-style: none;
    
}

.footer{

  margin-top: auto;
   background-color: black;
   color:rgb(39, 24, 24);
   text-align: center;
   
}

body{
    min-height: 100%;   
background:black;
display: flex;
flex-direction: column;
}

.my-pic{
   
   opacity: 66%;
   display: flex;
   -webkit-filter: contrast(120%);

}

.my-pic2{

    padding-right: 20px;
}
.aboutmoi{
    width: 100%;
    height: 950px;
}

h1{

color:rgb(155, 155, 155); 
opacity: 0.6; 
font-family: 'Poppins', sans-serif;
font-size: 22px;
letter-spacing: 4px;
text-transform: lowercase;
text-align: center;
margin-top: 20px;
word-spacing: 2px;
}


p{

    color:rgb(255, 255, 255);
    opacity: 0.4;
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    word-spacing: 3px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 2px;
    display:flex;
    width: 100%;
    margin-top: 20px;
    padding-left: 70px;

    
}

.left:hover {
    border-style: solid;
    padding-top:10px;
}

.right:hover {
    border-style: solid;
    padding-top:10px;
}





.container{
    padding: 30px;
    width:100%;
}

  .contain1{
color:rgb(155, 155, 155); 
opacity: 0.6; 
font-family: 'Poppins', sans-serif;
font-size: 50px;
padding: 20px;
letter-spacing: 6px;
text-align: auto;
margin-top: 10px;

width: 100%;
}


.contain2 {
width: 100%; 
padding: 30px;
color:rgb(155, 155, 155); 
opacity: 0.6; 
font-family: 'Poppins', sans-serif;
font-size: 13px;
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
margin-top: 10px;
word-spacing: 2px;
}


.contain3 {
    width: 100%; 


    }


.img-responsive{
    width: 100%;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(133, 126, 126);
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(39, 41, 40, 0.212);
    color: rgb(133, 126, 126);
    font-size: 14px;
  }
  
  input[type=text]:focus {
    border: 3px solid rgb(158, 161, 131);
  }

  .message{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
      }


      .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #1612113a;
        border: 2px solid rgb(133, 126, 126);
        color: rgb(133, 126, 126);
        text-align: center;
        font-size: 14px;
        padding: 10px;
        width: 90px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
  
      .inputs{
        color:rgb(155, 155, 155);
        font-family: 'Poppins', sans-serif;
      }