
*{

margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html{
    height: 100%;
}


nav{

display: flex;
justify-content: space-around;
align-items: right;
min-height: 8vh;
background-color: black; 
font-family: 'Poppins', sans-serif;
}

.myname{
    
    color:rgb(155, 155, 155);
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 2px;
    word-spacing: 6px;
    font-family:'Poppins', sans-serif;
}

.the-links{

display: flex;
justify-content: space-around;
width: 30%;
}

.the-links a{

    color:rgb(155, 155, 155);
    opacity: 0.6;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    background-color: black;
}

.the-links li{

list-style: none;
    
}

.footer{
   margin-top: auto;
   background-color: black;
   color:rgb(135, 127, 127);
   text-align: center;
   }

body{
min-height: 100%;   
background:black;
display: flex;
flex-direction: column;
}

/*.pic{
   
   opacity: 66%;
   display: flex;
   -webkit-filter: contrast(120%);
}*/

#pic{
  cursor: pointer;
  position: relative;
  overflow:hidden;
  background:url(../images/keylaBack.jpg) no-repeat;
 
  background-size: cover;
  height:400px;
  width:400px;


  

}

#pic::before{
  content: "";
  position:absolute;
  filter:sepia(100%);
  opacity: 0;
  background:url(../images/keylaBack.jpg) no-repeat;
  background-size: cover;
  height:40px;
  width:500px;

}

#pic:hover:before{
  opacity:.7;
  animation: glitch 1.5s infinite linear;
}

@keyframes glitch{
  0%{
    top:0;
    background-position:12px 0;
  }
  20%{
    top:80px;
    background-position: -10px -80px;
  }
  40%{
    top:160px;
    background-position:6px -160px;
  }
  60%{
    top:240px;
    background-position: -6px -240px;
  }
  80%{
    top:320px;
    background-position:10px -320px;
  }
  100%{
    top:400px;
    background-position: -12px -400px;
  }
}

.col{
    padding-left: 0;
}

.aboutmoi{
    width: 100%;
    height: 100%;
    margin-left:30px;
}

h1{

color:rgb(155, 155, 155); 
opacity: 0.6; 
font-family: 'Poppins', sans-serif;
font-size: 22px;
letter-spacing: 4px;
text-transform: lowercase;
text-align: center;
word-spacing: 2px;
}


p{

    color:rgb(255, 255, 255);
    opacity: 0.4;
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    word-spacing: 3px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2px;
    display:flex;
    width: 100%;
    height:100%;
    
}

/*.left:hover {
    border-style: solid;
    padding-top:10px;
}

.right:hover {
    border-style: solid;
    padding-top:10px;
}
*/




.container{
   
    width:100%;
}

  .contain1{
color:rgb(155, 155, 155); 
opacity: 0.6; 
font-family: 'Poppins', sans-serif;
font-size: 50px;
padding: 20px;
letter-spacing: 6px;
text-align: auto;
margin-top: 10px;

width: 100%;
}


.contain2 {
width: 100%; 
padding: 30px;
color:rgb(155, 155, 155); 
opacity: 0.6; 
font-family: 'Poppins', sans-serif;
font-size: 13px;
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
margin-top: 10px;
word-spacing: 2px;
}


.contain3 {
    width: 100%; 
padding: 100px;

    }


.img-responsive{
    width: 100%;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(133, 126, 126);
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(39, 41, 40, 0.212);
    color: rgb(133, 126, 126);
    font-size: 14px;
  }
  
  input[type=text]:focus {
    border: 3px solid rgb(158, 161, 131);
  }

  .message{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
      }


      .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #1612113a;
        border: 2px solid rgb(133, 126, 126);
        color: rgb(133, 126, 126);
        text-align: center;
        font-size: 14px;
        padding: 10px;
        width: 90px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
  
      .inputs{
        color:rgb(155, 155, 155);
        font-family: 'Poppins', sans-serif;
      }

      .picDiv{
        display:flex;
        margin-top: 200px;
      }

      .pic{
        display:flex;
      }
      
    .aboutContainer{
      text-align: center;
      align-items: center;
    }